<!-- Create New Shipment -->

{% extends "base.html" %}
{% block title %}Crudder - New Shipment{% endblock %}
{% block sidebar %}
  <li class="nav-item">
    <a class="nav-link" href="/index">
      <span data-feather="home"></span>
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/shipments">
      <span data-feather="truck"></span>
      Shipments
    </a>
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link active" aria-current="page" href="/shipments/create">
        <span data-feather="plus-square"></span>
        Create new
      </a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/manage">
      <span data-feather="check-square"></span>
      Manage
    </a>
  </li>
{% endblock %}
{% block header %}Create New Shipment{% endblock %}
{% block task_buttons %}
  <a href="/shipments/advanced" class="btn btn-primary">Advanced Interface</a>
{% endblock %}
{% block content %}
{% if success %}
  <div class="alert alert-success" role="alert">
    {{ success }}
  </div>
{% endif %}
{% if error %}
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
{% endif %}
<div class="form-group">
    <form method="post">
      <h4>
        <label>I am
          <select name="direction">
            <option value="out">sending</option>
            <option value="in">receiving</option>
          </select> a shipment
        </label> of
        <label>quantity
          <input type="number" name="quantity" min="1" max="1000000" required>
        </label> for the following
        <label for="item">item:</label>
      </h4>
      <h4>
        <select id="item" name="id">
          {% for item in items %}
            <option value="{{ item.id }}">{{ item.id }} - {{ item.name }}</option>
          {% endfor %}
        </select>
      </h4>
      <h1>
      <button type="submit" class="btn btn-primary me-2">Submit</button>
      <a href="/shipments"><button type="button" class="btn btn-outline-danger">Cancel</button></a>
      </h1>
    </form>
</div>
{% endblock %}